
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #FF9933;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #FFCC66;
}

header {
  background-color: #ff6600;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(255, 102, 0, 0.5);
  border-radius: 5cap;
}

header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
header h2:hover {
  color: #FFCC66;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  
  position: relative;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #333;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav a:hover {
  color: #fff;
}

nav a:hover::after {
  width: 100%;
  left: 0;
  background: #fff;
}


.hero {
  display: flex;  
  flex-direction: row;  
  align-items: center;  
  justify-content: center; 
  gap: 3em; 
  border-bottom-right-radius: 5cap;
  border-bottom-left-radius: 5cap;
  border-top-left-radius: 1cap;
  border-top-right-radius: 1cap;
  background: linear-gradient(160deg, #FF6600cc 0%, #000000cc 100%);
  padding: 5em 1em 6em;
  color: #fff1e6;

}

.hero p {
  font-size: 1.2em;
  color: #fff5e6;
  max-width: 600px;
  position: relative;
  z-index: 1;
  margin: 0; 
  text-align: left; 
}

.hero img {
  max-width: 30%; 
  height: auto;
  border-radius: 1em;
  background-color: #ffff;
  border-radius: 5cap;
}

section {
  margin-bottom: 4em;

}

section h3 {
  font-size: 2em;
  margin-bottom: 0.6em;
  color: #FF6600;
  border-left: 6px solid #FF6600;
  padding-left: 12px;
  background-color: #1a1a1a;
  border-top-right-radius: 10cap;
  border-bottom-right-radius: 10cap;
}

.about {
  display: flex;
  align-items: center;
  gap: 2em;
  color: #FFCC80;
}
.about-text {
  flex: 1 1 60%;
  font-size: 1.1em;
  line-height: 1.6;
}
.about-image {
  flex: 1 1 20%;
  max-width: 100%;
  overflow: hidden;
}
.about-image img {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: cover;
  border-radius: 2cap;
  
}

.objective p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #FFCC80;
}

.objective-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 1em;
}
.objective-item {
  flex: 1 1 calc(33% - 1em);
  min-width: 220px;
  border-radius: 8px;
  padding: 1.5em;
  color: #FFAA33;
  box-shadow: 0 4px 12px rgba(255, 102, 0, 0.4);
  transition: transform 0.3s ease;
}
.objective-item:hover {
  background: #1a1a1a;
  transform: translateY(-10px);
}
.objective-item h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.contacts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 1em;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #222;
  color: #ffcc80;
  border-left: 6px solid #ff6600;
  border-radius: 10px;
  width: 370px;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: #333;
}

.contact-image img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.contact-info {
  text-align: center;
}

.contact-info h4 {
  margin: 0 0 0.4em 0;
  font-size: 1.2em;
}

.contact-info p {
  margin: 0.2em 0;
  font-size: 0.85em;
}

.contact-info a {
  color: #ff6600;
  text-decoration: none;
}


.contact-info a:hover {
  color: #fff;
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 2em 1em;
  background-color: #000000;
  color: #FF6600;
  border-top: 1px solid #FF6600;
  font-weight: 600;
  letter-spacing: 1.1px;
}

@media (max-width: 700px) {
  .services-list {
    flex-direction: column;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav a {
    margin-left: 0;
    margin-right: 1.2rem;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-text {
    flex: none;
    margin-bottom: 1.5em;
  }
  .about-image {
    flex: none;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    max-width: 100%;
  }
}

